.page
    min-height: 100vh

.page-title
    position: absolute
    top: 5px
    text-align: center

.d-flex
    display: flex

.d-block
    display: block

.width-fit-content
    width: fit-content

.flex-column
    flex-direction: column

.justify-center
    justify-content: center

.align-center
    align-items: center
