.page
    min-height: calc( 100vh - 55px )

.page-title
    // position: fixed
    left: 50%
    // transform: translateX(-50%)
    text-align: center
    height: 40px
    margin: 15px 0 0 0

.d-flex
    display: flex

.d-block
    display: block

.width-fit-content
    width: fit-content

.width-100
    width: 100%    

.flex-column
    flex-direction: column

.justify-center
    justify-content: center

.align-center
    align-items: center

.text-center
    text-align: center
