@use 'variables'

.page-title-container
    left: 50%
    text-align: center
    min-height: 40px
    padding: 30px 0
    background-color: variables.$page_title_color
    background-image: linear-gradient(to left, rgba(0,0,0,.5), rgba(0,0,0,0) 40%,rgba(255,255,255,0) 60%, rgba(255,255,255,.5))
    color: variables.$page_title_text_color
    position: sticky
    top: 0
    z-index: 10
    display: flex
    justify-content: center
    align-items: center
    
    .page-title
        margin: 0
