$page_title_color: blue
$page_title_text_color: white
    
$button_color: blue

$hangman_primary_color: blue
$hangman_secondary_color: red

$table_border_color: blue
$table_odd_color: white
$table_even_color: #87CEFA

$letter_button_color: $button_color
$letter_button_color__disabled: lightblue
$letter_button_color__text: white

$reset_game_button_color: red    
$reset_game_button_border: red    